<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tdck.backend.moudl_campus.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="tdck.backend.moudl_campus.pojo.Grade">
            <id property="id" column="id" />
            <id property="name" column="name" />
            <result property="manager" column="manager" />
            <result property="email" column="email" />
            <result property="telephone" column="telephone" />
            <result property="introducation" column="introducation" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,manager,email,telephone,introducation
    </sql>
</mapper>
